.banner {
  background:  #F5A9A9;
  text-align: center;
  padding: 1em 0;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.btns_container {
  display: flex;
  flex-wrap: wrap;
}
.btns_container div {
  cursor: pointer;
  padding: 0.5em 4em;
  border-radius: 10px;
}

/* .active {
  color: white;
  background-color: #4B6E54;
} */

.container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 3em;
  
}

.container > div:first-of-type, .container > div:last-of-type {
  width: 19%;
}

.container > div:nth-child(2) {
  width: 80%;
}

.table {
  margin-top: 2em;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
}

.header {
  font-size: 2em;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 1.5em;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: 0;
  font-weight: bold;
}

.row:last-child {
  border-bottom: 1px solid rgb(230, 230, 230);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.row:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row button {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #2D2D2A;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
}

.price {
  font-weight: 300;
  font-size: 0.9em;
}

/* styles.module.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: -33px;
  right: -26px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.active {
  background-color: #f5a9a9; 
  color: #fff; 
}

.contact {
  display: flex;
  flex-direction: column;
}
.contact a {
  display: flex;
  align-items: center;
  font-size: .9em;
  font-weight: 600;
}
.contact svg {
  font-size: 10px;
}
.contact a:hover {
  text-decoration: underline;
}

.workingDays > div {
  padding: 0.7em 0;
  text-align: center;
  background-color: white;
  border-top: 1px solid rgb(230, 230, 230);
}
.workingDays > div:last-child {
  border-bottom: 1px solid rgb(230, 230, 230);
}
.workingDays > div p:first-of-type {
  font-weight: bold;
}
.workingDays > div p:last-child {
  font-size: 12px;
}


.form {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}

.form > div:last-child {
  flex: 1;
}

@media  (max-width: 1200px) {
  .container {
    padding: 1em;
  }
  .form {
    flex-direction: column;
  }
  .form > div > div:first-of-type {
    width: fit-content;
    margin: auto;
  }
}

@media  (max-width: 770px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container > div:first-of-type, .container > div:last-of-type {
    width: 100%;
    text-align: center;
    order: 1;
  }
  
  .container > div:nth-child(2) {
    order: 0;
    width: 100%;
  }
  .contact a {
    justify-content: center;
  }

}